.employee-container{
    padding: 20px;
}

.employee-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-box{
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.add-btn{
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background-color: #2563eb;
    color: white;
    cursor: pointer;
}

.add-btn:hover{
    background-color: #1d4ed8;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th, td{
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th{
    background-color: #f3f4f6;
}

.edit-btn{
  background: #22c55e;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  margin-right: 8px;
  cursor: pointer;
}

.delete-btn{
  background: #ef4444;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
}
.view-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 8px;
}

.view-btn:hover {
  background: #1d4ed8;
}