.card{
  width:220px;
  padding:20px;
  background:white;
  border-radius:12px;
  box-shadow:0 4px 10px rgba(0,0,0,0.1);
  text-align:center;
}

.card:hover{
   box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}
 
h1{
  color: #1E293B;
  font-size: 28px;
  margin-bottom: 20px;
}
.change-up{
    color:#10b981;
    font-size:13px;
    font-weight:600;
    margin-top:5px;
}

.change-down{
    color:#ef4444;
    font-size:13px;
    font-weight:600;
    margin-top:5px;
}