.menu-item {
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  
  box-shadow: 2px 0px 10px rgba(0,0,0,0.3);
}

.menu-item:hover {
  background-color: #334155;
}

.active{
   background-color:#334155;
   border-radius:8px;
}
